* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 47px;
    font-weight: 700;
}

nav div {
    background-color: #E83E8C;
}

nav img {
    height: 53px;
}

nav button {
    border: white 1px solid !important;
    box-shadow: 0 0 0 !important;
}

nav span {
    filter: brightness(0) invert(1);
}

#container {
    margin: auto;
    margin: 80px 0;
}

footer {
    background-color: #E83E8C;
    height: 184px;
}

footer img {
    height: 100px;
    object-fit: cover;
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 60px;
    }

    .icons-section {
        background-color: #17A2B8;
        height: 170px;
        color: #FFF;
    }
    
    .icons-section h2 {
        font-weight: bold;
        font-size: 40px;
    }
    
    .icons-section i {
        margin: 0 10px;
        font-size: 53px;
    }
}